<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mbutgae.omega.inv" version="1.0.22" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MODOC</name>
    <description>
        Mobile Dinings O Cafe 
    </description>
    <author email="mbutgaecorp@gmail.com" href="https://gardenexoteak.com">
        Mbutgae Developer
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="DisallowOverscroll" value="true" />
    <platform name="android">
        <preference name="orientation" value="portrait" />
        <preference name="LoadUrlTimeoutValue" value="10000" />
        <preference name="KeepRunning" value="true" />
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
        <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external,assets,root" />
        <preference name="android-build-tool" value="gradle" />
        <preference name="android-minSdkVersion" value="19" />
        <preference name="android-maxSdkVersion" value="28" />
        <preference name="android-targetSdkVersion" value="20" />
        <preference name="android-installLocation" value="auto" />
        <icon density="ldpi" src="res/mo-icon/res/icon/android/ldpi.png"/>
        <icon density="mdpi" src="res/mo-icon/res/icon/android/mdpi.png"/>
        <icon density="hdpi" src="res/mo-icon/res/icon/android/hdpi.png"/>
        <icon density="xhdpi" src="res/mo-icon/res/icon/android/xhdpi.png"/>
        <icon density="xxhdpi" src="res/mo-icon/res/icon/android/xxhdpi.png"/>
        <icon density="xxxhdpi" src="res/mo-icon/res/icon/android/xxxhdpi.png"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="BackupWebStorage" value="none" />
        <icon src="res/mo-icon/res/icon/ios/icon-1024.png" width="1024" height="1024"/>
        <icon src="res/mo-icon/res/icon/ios/icon-small.png" width="29" height="29"/>
        <icon src="res/mo-icon/res/icon/ios/icon-small@2x.png" width="58" height="58"/>
        <icon src="res/mo-icon/res/icon/ios/icon-small@3x.png" width="87" height="87"/>
        <icon src="res/mo-icon/res/icon/ios/icon-small-40.png" width="40" height="40"/>
        <icon src="res/mo-icon/res/icon/ios/icon-small-40@2x.png" width="80" height="80"/>
        <icon src="res/mo-icon/res/icon/ios/icon-small-40@3x.png" width="120" height="120"/>
        <icon src="res/mo-icon/res/icon/ios/icon-small-50.png" width="50" height="50"/>
        <icon src="res/mo-icon/res/icon/ios/icon-small-50@2x.png" width="100" height="100"/>
        <icon src="res/mo-icon/res/icon/ios/icon.png" width="57" height="57"/>
        <icon src="res/mo-icon/res/icon/ios/icon@2x.png" width="114" height="114"/>
        <icon src="res/mo-icon/res/icon/ios/icon-60.png" width="60" height="60"/>
        <icon src="res/mo-icon/res/icon/ios/icon-60@2x.png" width="120" height="120"/>
        <icon src="res/mo-icon/res/icon/ios/icon-60@3x.png" width="180" height="180"/>
        <icon src="res/mo-icon/res/icon/ios/icon-72.png" width="72" height="72"/>
        <icon src="res/mo-icon/res/icon/ios/icon-72@2x.png" width="144" height="144"/>
        <icon src="res/mo-icon/res/icon/ios/icon-76.png" width="76" height="76"/>
        <icon src="res/mo-icon/res/icon/ios/icon-76@2x.png" width="152" height="152"/>
        <icon src="res/mo-icon/res/icon/ios/icon-167.png" width="167" height="167"/>
        <icon src="res/mo-icon/res/icon/ios/icon-83.5@2x.png" width="167" height="167"/>
    </platform>
    <preference name="phonegap-version" value="cli-7.1.0" />
    <engine name="android" spec="^4.1.1" />
    <engine name="browser" spec="^5.0.4" />
    <plugin name="cordova-plugin-camera" spec="^2.4.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.0" />
    <plugin name="cordova-plugin-console" spec="^1.1.0" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.2" />
    <plugin name="cordova-plugin-device" spec="^2.0.2" />
    <plugin name="cordova-plugin-qrscanner" spec="^2.4.0" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <plugin name="phonegap-plugin-barcodescanner" spec="8.0.1" />
</widget>
